# Exclude node modules
node_modules

# Exclude the compiled project
dist/*

# Include the demo_assets folder
!dist/demo_assets/

# Include the built-in asset folder
!dist/builtin/

# Include the hw1 assets
!dist/hw4_assets/

### IF YOU ARE MAKING A PROJECT, YOU MAY WANT TO UNCOMMENT THIS LINE ###
# !dist/assets/

